<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <em> User_Name </em> <br />
    <%= f.text_area :email, autofocus: true %>
  </div>

  <div class="field">
    <em> Password </em> <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
