#main {
  background-color: #000000;
  color: #0AD6FF;
}
#hide_me {
  visibility: hidden;
}
.testing {
  background-color: #000000;
  color: #0AD6FF;
}

.card-text {
  background-color: #000000;
  color: #0AD6FF;
}
.form-group {
  background-color: #000000;
  color: #0AD6FF;
}
